.App {
  text-align: center;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #4a90e2;
  color: black;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

.nav-links li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-links li:hover {
  text-decoration: underline;
}

.student-links {
  list-style: none;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  text-align: center;
}

.legenda {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
}

.dot-1 {
  height: 15px;
  width: 15px;
  background-color: lime;
  border-radius: 50%;
  display: flex;
  margin: 0 20px 0 10px;
}

.dot-2 {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  margin: 0 20px 0 10px;
}

.buttons {
  margin-top: 10px;
  margin-left: 30px;
}
